# question 2

In [1]:
from os import path
import os
import pandas as pd
import numpy as np
import gurobipy as gb
from gurobipy import GRB
from gurobipy import quicksum
import math
from check_valid import check_feasibility_and_calculate_objective_value

In [2]:
work_dir = os.getcwd()
instance_name = 's1'
data_path = path.join(work_dir, 'data')
data_file = path.join(data_path, f'{instance_name}.xlsx')

In [3]:
from q2_ulti import *

In [4]:
from time import time

In [5]:
start = time()
#get parameters
(
    N, M, K, V,
    ContainerCap, ContainerCost,
    Demand_ij,
    Init_i,
    BuyCost_i,
    HoldCost_i,
    Transit_ij,
    ShipFixedCost_k,
    ShipVarCost_ik,
    CBM_i,
    LostSaleCost_i,
    BackOrderCost_i,
    BackOrderProb_i,
    VendorFixedCost_v,
    MinOrder_i,
    ConflictPair_alpha,
    ProductVendor_i,
    M_big,
) = get_data(data_file)
end = time()
print(f'use: {end - start}')

use: 0.3502328395843506

In [6]:
start = time()
#model
model = gb.Model(name=instance_name)
#decision variable
x = model.addVars(N, M, K, vtype=GRB.INTEGER,name='x')
# Abin = model.addVars(M, K, vtype=GRB.BINARY, name='Abin')
ContainerCnt = model.addVars(M, vtype=GRB.INTEGER, name='ContainerCnt')
StockLevel = model.addVars(N, M, vtype=GRB.CONTINUOUS, name='StockLevel')
Shortage = model.addVars(N, M, vtype=GRB.CONTINUOUS, name='Shortage')
Bbin = model.addVars(N, M, vtype=GRB.BINARY, name='Bbin')
# Cbin = model.addVars(N, M, vtype=GRB.BINARY, name='Cbin')
# Dbin = model.addVars(V, M, vtype=GRB.BINARY, name='Dbin')
end = time()
print(f'use: {end - start}')

Academic license - for non-commercial use only - expires 2021-05-20
Using license file /Users/eason/gurobi.lic
use: 0.1359422206878662

In [7]:
start = time()
#Expr
VolumeInOceanExpr_j = [
gb.LinExpr(
    quicksum(x[i,j,2] * CBM_i[i] for i in range(N))
)    
for j in range(M)]

BackOrderCntExpr_ij = [
    [
        gb.LinExpr( Shortage[i,j] * BackOrderProb_i[i] )
    for j in range(M)]
for i in range(N)]

LostSaleCntExpr_ij = [
    [
        gb.LinExpr( Shortage[i,j] * (1 - BackOrderProb_i[i]) )
    for j in range(M)]
for i in range(N)]

#obj function
TotalPurchaseCost = gb.LinExpr(
    quicksum(
        quicksum(
            quicksum(
                x[i,j,k] * BuyCost_i[i]
            for i in range(N))
        for j in range(M))
    for k in range(K))
)

# TotalShipFixedCost = gb.LinExpr(
#     quicksum(
#         quicksum(
#             Abin[j,k] * ShipFixedCost_k[k]
#         for k in range(K))
#     for j in range(M))
# )

TotalShipVarCost = gb.LinExpr(
    quicksum(
        quicksum(
            quicksum(
                x[i,j,k] * ShipVarCost_ik[i,k]
            for k in range(K))
        for j in range(M))
    for i in range(N))
)

TotalHoldingCost = gb.LinExpr(
    quicksum(
        quicksum(
            StockLevel[i,j] * HoldCost_i[i]
        for i in range(N))
    for j in range(M))
)

TotalContainerCost = gb.LinExpr(
    quicksum(ContainerCnt[j] for j in range(M)) * ContainerCost
)

TotalBackOrderCost = gb.LinExpr(
    quicksum(
        quicksum(
            BackOrderCntExpr_ij[i][j] * BackOrderCost_i[i]
        for i in range(N))
    for j in range(M))
)

TotalLostSaleCost = gb.LinExpr(
    quicksum(
        quicksum(
            LostSaleCntExpr_ij[i][j] * LostSaleCost_i[i]
        for i in range(N))
    for j in range(M))
)

# TotalVendorFixedCost = gb.LinExpr(
#     quicksum(
#         quicksum(
#             Dbin[v,j] * VendorFixedCost_v[v]
#         for v in range(V))
#     for j in range(M))
# )

end = time()
print(f'use: {end - start}')

use: 0.0823371410369873

In [8]:
start = time()
#set obj function
model.setObjective(
    TotalPurchaseCost +
    # TotalShipFixedCost + 
    TotalShipVarCost + 
    TotalHoldingCost + 
    TotalContainerCost + 
    TotalBackOrderCost + 
    TotalLostSaleCost #+
    # TotalVendorFixedCost
)
end = time()
print(f'use: {end - start}')

use: 0.02208399772644043

In [9]:
start = time()
#Contrain

#let Abin to behave correctly
# _ = model.addConstrs(
#     quicksum(x[i,j,k] for i in range(N)) / M_big <= Abin[j,k]
# for j in range(M)
# for k in range(K))

#let ContainerCnt to behave correctly
_ = model.addConstrs(
    VolumeInOceanExpr_j[j] / ContainerCap <= ContainerCnt[j]
for j in range(M))

#let Stocklevle & Shortage behave correctly
_ = model.addConstrs(StockLevel[i,0] - Shortage[i,0] == Init_i[i] - Demand_ij[i][0] for i in range(N))
_ = model.addConstrs(StockLevel[i,1] - Shortage[i,1] == StockLevel[i,0] + x[i,0,0] + Transit_ij[i][1] - Demand_ij[i][1] - Shortage[i,0] * BackOrderProb_i[i] for i in range(N))
_ = model.addConstrs(StockLevel[i,2] - Shortage[i,2] == StockLevel[i,1] + x[i,1,0] + x[i,0,1] + Transit_ij[i][2] - Demand_ij[i][2] - Shortage[i,1] * BackOrderProb_i[i] for i in range(N))
_ = model.addConstrs(StockLevel[i,j] - Shortage[i,j] == StockLevel[i,j-1] + x[i,j-1,0] + x[i,j-2,1] + x[i,j-3,2] - Demand_ij[i][j] - Shortage[i,j-1] * BackOrderProb_i[i] for i in range(N) for j in range(3,M))

_ = model.addConstrs(StockLevel[i,j] <= M_big * (1-Bbin[i,j]) for i in range(N) for j in range(M))
_ = model.addConstrs(Shortage[i,j] <= M_big * Bbin[i,j] for i in range(N) for j in range(M))

#let Cbin behave correctly
# _ = model.addConstrs(
#     quicksum(x[i,j,k] for k in range(K)) / M_big <= Cbin[i,j]
# for i in range(N)
# for j in range(M))

#let Dbin behave correctly
# _ = model.addConstrs(
#     quicksum(
#         quicksum(x[i,j,k] for k in range(K))
#     for i in range(N) if ProductVendor_i[i] == v) / M_big <= Dbin[v,j]
# for v in range(V)
# for j in range(M))

#Minumin order Bound
# _ = model.addConstrs(
#     Cbin[i,j] * MinOrder_i[i] <= quicksum(x[i,j,k] for k in range(K))
# for i in range(N)
# for j in range(M))

#conflict
# _ = model.addConstrs(
#     Cbin[a,j] + Cbin[b,j] <= 1
# for j in range(M)
# for a, b in ConflictPair_alpha)

p1, p2 = zip(*ConflictPair_alpha)
_ = model.addConstrs(
    x[i,j,k] == 0
    for i in p1
    for j in range(0, M, 2) #even
    for k in range(K)
)

_ = model.addConstrs(
    x[i,j,k] == 0
    for i in p2
    for j in range(1, M, 2) #even
    for k in range(K)
)
end = time()
print(f'use: {end - start}')

use: 0.34853601455688477

In [10]:
start = time()
#set gurobi param
# model.Params.LogToConsole = 0
model.Params.MIPGap = (1)/100
end = time()
print(f'use: {end - start}')

Changed value of parameter MIPGap to 0.01
   Prev: 0.0001  Min: 0.0  Max: inf  Default: 0.0001
use: 0.0017898082733154297

In [11]:
start = time()
model.optimize()
end = time()
print(f'use: {end - start}')
#Optimize a model with 48566 rows, 93626 columns and 182816 nonzeros

Gurobi Optimizer version 9.1.1 build v9.1.1rc0 (mac64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 8528 rows, 15626 columns and 31003 nonzeros
Model fingerprint: 0xcde43b7b
Variable types: 5200 continuous, 10426 integer (2600 binary)
Coefficient statistics:
  Matrix range     [1e-02, 4e+05]
  Objective range  [1e+01, 2e+04]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 4e+05]
Presolve removed 2164 rows and 5177 columns
Presolve time: 0.14s
Presolved: 6364 rows, 10449 columns, 22681 nonzeros
Variable types: 4184 continuous, 6265 integer (2088 binary)
Found heuristic solution: objective 1.383702e+11
Found heuristic solution: objective 1.324920e+09

Root relaxation: objective 1.308566e+09, 5080 iterations, 0.04 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 1.3086e+09    0   33 1.3249e+09 1.3086e+09  1.23%     -    0s
H    0     0                    1.324835e+09 1.3086e+09  1.23%     -    0s
H    0     0                    1.308611e+09 1.3086e+09  0.00%     -    0s

Cutting planes:
  Gomory: 31
  MIR: 73

Explored 1 nodes (5080 simplex iterations) in 0.41 seconds
Thread count was 8 (of 8 available processors)

Solution count 4: 1.30861e+09 1.32483e+09 1.32492e+09 1.3837e+11

Optimal solution found (tolerance 1.00e-02)
Best objective 1.308610714242e+09, best bound 1.308566148161e+09, gap 0.0034%
use: 0.42800307273864746

In [12]:
start = time()
order = np.zeros((N,K,M), dtype=np.float32)
for i in range(N):
    for j in range(K):
        for t in range(M):
            order[i,j,t] = x[i,t,j].x
end = time()
print(f'use: {end - start}')

use: 0.02532815933227539

In [18]:
Ocean_ship_var = (ContainerCost / (ContainerCap / CBM_i))

In [14]:
start = time()
#post order
month_order = np.sum(order, axis=1)
surpus_min = ((month_order.transpose() - MinOrder_i).transpose() >= 0)
is_zero = (month_order == 0)
not_valid_min_bound = np.logical_not(surpus_min | is_zero)
not_valid_min_bound_indices =  not_valid_min_bound.nonzero()
for i, t in zip(*not_valid_min_bound_indices):
    if sum(order[i,j,t] for j in range(K)) >= MinOrder_i[i]:
        continue
    post = False
    if i in ConflictPair_alpha[0] or i in ConflictPair_alpha[1]:
        if order[i,0,t] != 0 and order[i,1,t] != 0:
            if month_order[i,t+2] != 0:
                order[i,0,t+2] += order[i,2,t]
                order[i,2,t] = 0
                post = True
    else:
        if order[i,0,t] != 0: #can't post
            continue
        if month_order[i,t+1] != 0: #under min bound or over min bound
            order[i,0,t+1] += order[i,1,t]
            order[i,1,t+1] += order[i,2,t]
            order[i,1,t], order[i,2,t] = 0, 0
            post = True
        else:
            if order[i,1,t] != 0: #can't post
                continue
            if month_order[i,t+2] != 0:
                order[i,0,t+2] += order[i,2,t]
                order[i,2,t] = 0
                post = True

#pre order
month_order = np.sum(order, axis=1)
surpus_min = ((month_order.transpose() - MinOrder_i).transpose() >= 0)
is_zero = (month_order == 0)
not_valid_min_bound = np.logical_not(surpus_min | is_zero)
not_valid_min_bound_indices = (np.flip(p, axis=0) for p in not_valid_min_bound.nonzero())
for i, t in zip(*not_valid_min_bound_indices): #from back to begin
    if sum(order[i,j,t] for j in range(K)) >= MinOrder_i[i]:
        continue
    if i in ConflictPair_alpha[0] or i in ConflictPair_alpha[1]:
        if t - 2 >= 0 and month_order[i,t-2] != 0:
            order[i,2,t-2] += order[i,0,t] + order[i,1,t] + order[i,2,t]
            order[i,0,t], order[i,1,t], order[i,2,t] = 0,0,0
    else:
        if t - 1 >= 0 and month_order[i,t-1] != 0:
            order[i,1,t-1] += order[i,0,t]
            if Ocean_ship_var[i] > ShipVarCost_ik[i,1] + HoldCost_i[i]:
                order[i,1,t-1] += (order[i,1,t] + order[i,2,t])
            else:
                order[i,2,t-1] += (order[i,1,t] + order[i,2,t])
            order[i,0,t], order[i,1,t], order[i,2,t] = 0,0,0
        elif t - 2 >= 0 and month_order[i,t-2] != 0:
            if Ocean_ship_var[i] > ShipVarCost_ik[i,1] + HoldCost_i[i]:
                order[i,1,t-2] += (order[i,0,t] + order[i,1,t] + order[i,2,t])
            else:
                order[i,2,t-2] += (order[i,0,t] + order[i,1,t] + order[i,2,t])
            order[i,0,t], order[i,1,t], order[i,2,t] = 0,0,0

#move some order to front
month_order = np.sum(order, axis=1)
surpus_min = ((month_order.transpose() - MinOrder_i).transpose() >= 0)
is_zero = (month_order == 0)
not_valid_min_bound = np.logical_not(surpus_min | is_zero)
not_valid_min_bound_indices =  not_valid_min_bound.nonzero()
for i, t in zip(*not_valid_min_bound_indices):
    need = MinOrder_i[i] - sum(order[i,j,t] for j in range(K))
    target_t = t
    while need > 0:
        target_t += 1
        if target_t < M:
            can_offer = sum(order[i,j,target_t] for j in range(K)) - MinOrder_i[i]
            if can_offer > 0:
                if target_t == t + 1:
                    #use 0,1,2 delivery
                    if need >= can_offer: #take all
                        if order[i,0,target_t] >= can_offer:
                            order[i,0,target_t], order[i,1,t], can_offer = order[i,0,target_t] - can_offer, order[i,1,t] + can_offer, 0
                        elif order[i,0,target_t] + order[i,1,target_t] >= can_offer:
                            order[i,0,target_t], order[i,1,t], can_offer = 0, order[i,1,t] + order[i,0,target_t], can_offer - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], can_offer = order[i,1,target_t] - can_offer, order[i,2,t] + can_offer, 0
                        else:
                            order[i,0,target_t], order[i,1,t], can_offer = 0, order[i,1,t] + order[i,0,target_t], can_offer - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], can_offer = 0, order[i,2,t] + order[i,1,target_t], can_offer - order[i,1,target_t]
                            order[i,2,target_t], order[i,2,t], can_offer = order[i,2,target_t] - can_offer, order[i,2,t] + can_offer, 0

                    else:
                        if order[i,0,target_t] >= need:
                            order[i,0,target_t], order[i,1,t], need = order[i,0,target_t] - need, order[i,1,t] + need, 0
                        elif order[i,0,target_t] + order[i,1,target_t] >= need:
                            order[i,0,target_t], order[i,1,t], need = 0, order[i,1,t] + order[i,0,target_t], need - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], need = order[i,1,target_t] - need, order[i,2,t] + need, 0
                        else: 
                            order[i,0,target_t], order[i,1,t], need = 0, order[i,1,t] + order[i,0,target_t], need - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], need = 0, order[i,2,t] + order[i,1,target_t], need - order[i,1,target_t]
                            order[i,2,target_t], order[i,2,t], need = order[i,2,target_t] - need, order[i,2,t] + need, 0
                else:
                    if need >= can_offer: #take all
                        if order[i,0,target_t] >= can_offer:
                            order[i,0,target_t], order[i,2,t], can_offer = order[i,0,target_t] - can_offer, order[i,2,t] + can_offer, 0
                        elif order[i,0,target_t] + order[i,1,target_t] >= can_offer:
                            order[i,0,target_t], order[i,2,t], can_offer = 0, order[i,2,t] + order[i,0,target_t], can_offer - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], can_offer = order[i,1,target_t] - can_offer, order[i,2,t] + can_offer, 0
                        else:
                            order[i,0,target_t], order[i,2,t], can_offer = 0, order[i,2,t] + order[i,0,target_t], can_offer - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], can_offer = 0, order[i,2,t] + order[i,1,target_t], can_offer - order[i,1,target_t]
                            order[i,2,target_t], order[i,2,t], can_offer = order[i,2,target_t] - can_offer, order[i,2,t] + can_offer, 0

                    else:
                        if order[i,0,target_t] >= need:
                            order[i,0,target_t], order[i,2,t], need = order[i,0,target_t] - need, order[i,2,t] + need, 0
                        elif order[i,0,target_t] + order[i,1,target_t] >= need:
                            order[i,0,target_t], order[i,2,t], need = 0, order[i,2,t] + order[i,0,target_t], need - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], need = order[i,1,target_t] - need, order[i,2,t] + need, 0
                        else: 
                            order[i,0,target_t], order[i,2,t], need = 0, order[i,2,t] + order[i,0,target_t], need - order[i,0,target_t]
                            order[i,1,target_t], order[i,2,t], need = 0, order[i,2,t] + order[i,1,target_t], need - order[i,1,target_t]
                            order[i,2,target_t], order[i,2,t], need = order[i,2,target_t] - need, order[i,2,t] + need, 0
        else:
            order[i,2,t] += need
            need = 0
end = time()
print(f'use: {end - start}')

use: 0.009691715240478516

In [15]:
#even odd to avoid conflict
print(f'TotalPurchaseCost    :{TotalPurchaseCost.getValue():.2f}')
# print(f'TotalShipFixedCost   :{TotalShipFixedCost.getValue():.2f}')
print(f'TotalShipVarCost     :{TotalShipVarCost.getValue():.2f}')
print(f'TotalHoldingCost     :{TotalHoldingCost.getValue():.2f}')
print(f'TotalContainerCost   :{TotalContainerCost.getValue():.2f}')
print(f'TotalBackOrderCost   :{TotalBackOrderCost.getValue():.2f}')
print(f'TotalLostSaleCost    :{TotalLostSaleCost.getValue():.2f}')
# print(f'TotalVendorFixedCost :{TotalVendorFixedCost.getValue():.2f}')
print(f'objective-value      :{model.ObjVal:.2f}')

TotalPurchaseCost    :1222896500.00
TotalShipVarCost     :12953748.00
TotalHoldingCost     :12581830.60
TotalContainerCost   :210000.00
TotalBackOrderCost   :17323408.03
TotalLostSaleCost    :42645227.62
objective-value      :1308610714.24

In [16]:
out = np.zeros((N+1,K+1,M+1), dtype=np.float32)
out[1:,1:,1:] = order
check_feasibility_and_calculate_objective_value(f'./data/{instance_name}.xlsx', out)

[valid]

(True, 1308750057.242312)

In [17]:
#s1
optimal = [1292779280.02, 172151187.52, 580454537.13, 922516036.11, 1153432873.11]
heuristic = [1308750057.242312, 177023302.44902322, 583411445.5491903, 990347203.3452796, 1166177383.1972764]

In [18]:
print('Gap')
for i, (o, h) in enumerate(zip(optimal, heuristic), start=1):
    print(f's{i}: {(1-o/h)*100:.3f}%')

Gap
s1: 1.220%
s2: 2.752%
s3: 0.507%
s4: 6.849%
s5: 1.093%

In [113]:
os.makedirs('solution', exist_ok=True)

solution_file_path = path.join(work_dir, 'solution', 'q1.xlsx')

In [114]:
with pd.ExcelWriter(solution_file_path, engine='xlsxwriter') as writer:
    print('Express delivery')
    df1 = pd.DataFrame([[int(x[i,j,0].x) for j in range(M)] for i in range(N)], columns=range(M))
    display(df1)
    df1.to_excel(writer, sheet_name='Express delivery')
    print('Air frieght')
    df2 = pd.DataFrame([[int(x[i,j,1].x) for j in range(M)] for i in range(N)], columns=range(M))
    display(df2)
    df2.to_excel(writer, sheet_name='Air frieght')
    print('Ocean frieght')
    df3 = pd.DataFrame([[int(x[i,j,2].x) for j in range(M)] for i in range(N)], columns=range(M))
    display(df3)
    df3.to_excel(writer, sheet_name='Ocean frieght')
    print('order')
    df3 = pd.DataFrame([[int(sum([x[i,j,k].x for k in range(K)])) for j in range(M)] for i in range(N)], columns=range(M))
    display(df3)
    df3.to_excel(writer, sheet_name='Order')
    print('StockLevel')
    df = pd.DataFrame([[StockLevel[i,j].x for j in range(M)] for i in range(N)], columns=range(M))
    display(df)
    df.to_excel(writer, sheet_name='StockLevel')
    print('Shortage')
    df = pd.DataFrame([[Shortage[i,j].x for j in range(M)] for i in range(N)], columns=range(M))
    display(df)
    df.to_excel(writer, sheet_name='Shortage')

Express delivery

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,7,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,8,0,44,0,70,163,0,...,0,0,0,70,108,102,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,198,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Air frieght

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0,0,0,38,79,12,151,165,142,163,...,49,0,67,148,118,166,66,0,0,0
1,0,0,0,0,0,0,23,0,13,0,...,0,4,0,0,0,0,0,0,0,0
2,0,0,82,200,66,199,101,0,270,220,...,0,196,61,0,174,332,0,187,0,0
3,0,0,97,155,153,75,108,139,97,182,...,0,0,0,0,0,0,0,0,0,0
4,0,0,60,53,67,71,158,56,203,0,...,0,0,193,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,113,70,156,143,0,125,138,...,197,251,132,0,0,136,255,283,0,0
96,0,0,0,0,0,190,55,0,100,264,...,136,144,52,101,145,317,66,217,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,292,30,0,147,178,0,0,0,0
98,0,0,52,143,62,129,67,137,10,192,...,28,38,63,115,151,74,0,10,0,0
99,154,194,122,149,52,282,116,159,99,196,...,19,322,120,277,116,259,0,255,0,0

Ocean frieght

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,60,241,145,0,185,0,157,197,...,152,57,242,0,227,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

order

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0,0,0,38,79,12,151,165,142,163,...,49,0,67,148,118,166,66,0,0,0
1,0,0,60,241,145,0,208,0,170,197,...,152,61,242,0,227,0,0,0,0,0
2,0,0,82,200,66,199,101,0,270,220,...,0,196,61,0,174,332,0,187,0,0
3,0,0,97,155,153,75,108,139,97,182,...,0,0,0,0,0,0,0,0,0,0
4,0,0,60,60,67,71,158,60,203,0,...,0,0,193,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,121,70,200,143,70,288,138,...,197,251,132,70,108,238,255,283,0,0
96,0,0,0,0,0,190,55,0,100,264,...,136,144,52,101,145,317,66,217,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,292,30,0,147,178,0,0,0,0
98,0,0,52,143,62,129,67,137,10,192,...,28,38,63,115,151,74,0,10,0,0
99,352,194,122,149,52,282,116,159,99,196,...,19,322,120,277,116,259,0,255,0,0

StockLevel

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,662.0,607.0,4.350000e+02,2.410000e+02,1.470000e+02,0.0,0.0,0.0,-0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0,0.0
1,410.0,357.0,2.890000e+02,1.040000e+02,9.100000e+01,15.0,0.0,0.0,0.0,0.0,...,4.547474e-14,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,346.0,167.0,1.660000e+02,1.170000e+02,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,-0.0,0.0,0.0,0.0,0.0,0.0,-0.0
3,208.0,258.0,1.800000e+02,4.900000e+01,0.000000e+00,0.0,-0.0,0.0,0.0,-0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,365.0,303.0,2.200000e+02,1.300000e+02,0.000000e+00,4.0,0.0,0.0,0.0,0.0,...,1.000000e+00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,481.0,322.0,2.560000e+02,8.400000e+01,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,1.421085e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,761.0,582.0,5.600000e+02,5.080000e+02,3.960000e+02,101.0,9.0,0.0,0.0,0.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,709.0,638.0,7.370000e+02,6.830000e+02,5.700000e+02,461.0,449.0,194.0,194.0,170.0,...,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,213.0,253.0,1.840000e+02,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,...,-0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0
99,4.0,0.0,2.842171e-14,2.842171e-14,2.842171e-14,0.0,0.0,0.0,0.0,0.0,...,5.684342e-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Shortage

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,154.0,269.8
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,249.0,290.0,290.0,477.0,706.0,803.0,1029.0,1089.0,1089.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,13.0,350.0,363.0,363.0,398.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,258.0
98,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
print(f'TotalPurchaseCost    :{TotalPurchaseCost.getValue():.2f}')
print(f'TotalShipFixedCost   :{TotalShipFixedCost.getValue():.2f}')
print(f'TotalShipVarCost     :{TotalShipVarCost.getValue():.2f}')
print(f'TotalHoldingCost     :{TotalHoldingCost.getValue():.2f}')
print(f'TotalContainerCost   :{TotalContainerCost.getValue():.2f}')
print(f'TotalBackOrderCost   :{TotalBackOrderCost.getValue():.2f}')
print(f'TotalLostSaleCost    :{TotalLostSaleCost.getValue():.2f}')
print(f'TotalVendorFixedCost :{TotalVendorFixedCost.getValue():.2f}')
print(f'objective-value      :{model.ObjVal:.2f}')

TotalPurchaseCost    :1230662600.00
TotalShipFixedCost   :5420.00
TotalShipVarCost     :13019025.00
TotalHoldingCost     :12664881.12
TotalContainerCost   :202500.00
TotalBackOrderCost   :16816197.12
TotalLostSaleCost    :19315474.00
TotalVendorFixedCost :37500.00
objective-value      :1292723597.23

In [28]:
result_df = pd.DataFrame(columns=[
    'TotalPurchaseCost',
    'TotalShipFixedCost',
    'TotalShipVarCost',
    'TotalHoldingCost',
    'TotalContainerCost',
    'TotalBackOrderCost',
    'TotalLostSaleCost',
    'TotalVendorFixedCost',
    'objective-value',
])

# result_df.append({
#     'TotalPurchaseCost': str(round(TotalPurchaseCost.getValue(), 2)),
#     'TotalShipFixedCost': str(round(TotalShipFixedCost.getValue(), 2)),
#     'TotalShipVarCost': str(round(TotalShipVarCost.getValue(), 2)),
#     'TotalHoldingCost': str(round(TotalHoldingCost.getValue(), 2)),
#     'TotalContainerCost': str(round(TotalContainerCost.getValue(), 2)),
#     'TotalBackOrderCost': str(round(TotalBackOrderCost.getValue(), 2)),
#     'TotalLostSaleCost': str(round(TotalLostSaleCost.getValue(), 2)),
#     'TotalVendorFixedCost': str(round(TotalVendorFixedCost.getValue(), 2)),
#     'objective-value': model.ObjVal,
# }, ignore_index=True)

result_df.loc[0] = [
    str(round(TotalPurchaseCost.getValue(), 2)),
    str(round(TotalShipFixedCost.getValue(), 2)),
    str(round(TotalShipVarCost.getValue(), 2)),
    str(round(TotalHoldingCost.getValue(), 2)),
    str(round(TotalContainerCost.getValue(), 2)),
    str(round(TotalBackOrderCost.getValue(), 2)),
    str(round(TotalLostSaleCost.getValue(), 2)),
    str(round(TotalVendorFixedCost.getValue(), 2)),
    str(round(model.ObjVal, 2)),
]
result_df

,TotalPurchaseCost,TotalShipFixedCost,TotalShipVarCost,TotalHoldingCost,TotalContainerCost,TotalBackOrderCost,TotalLostSaleCost,TotalVendorFixedCost,objective-value
0,1230662600.0,5420.0,13019025.0,12664881.12,202500.0,16816197.12,19315474.0,37500.0,1292723597.23